.carrousel {
  width: 75%;
  height: 75%;
  position: fixed;
  left: 10%;
  top: 10%;
  background-color: #a476bf;
  border-radius: 5px;
  scale: 0;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 576px) {
  .carrousel {
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: 13%;
  }
}

.carrousel__figure {
  width: 100%;
  height: 100%;
}

.carrousel--ouvrir {
  scale: 1;
}

.carrousel__figure {
  width: 100%;
  height: 100%;
}

.carrousel__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.carrousel__img--activer {
  opacity: 1;
}

.carrousel__x {
  position: absolute;
  right: 0;
  z-index: 3;
}

.carrousel__form {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.carrousel__rad {
  margin: 5px;
  display: inline-block;
}